<h1>🚀 DevOps CI/CD Automation</h1>

<h2>Python Flask Application</h2>

<hr>

<h3>🟢 STATUS</h3>

<p>Application : Running</p>
<p>Container : Running</p>
<p>Pipeline : Successful</p>

<hr>

<h3>🛠 Technology Stack</h3>

<ul>
<li>Python Flask</li>
<li>Docker</li>
<li>Jenkins</li>
<li>GitHub</li>
<li>Docker Hub</li>
<li>AWS EC2</li>
</ul>

<hr>

<h3>Pipeline Flow</h3>

<pre>
GitHub
   │
   ▼
Jenkins
   │
   ▼
Docker Build
   │
   ▼
Docker Hub
   │
   ▼
AWS EC2
   │
   ▼
Live Application
</pre>

<hr>

<h3>👨‍💻 Developed by</h3>

<p>Noor Mohammad</p>
<p>DevOps Engineer</p>