+------------------------------------------------------+

        🚀 DevOps CI/CD Automation

        Python Flask Application

--------------------------------------------------------

🟢 Application Status

✔ Application Running
✔ Jenkins Pipeline Successful
✔ Docker Container Running

--------------------------------------------------------

Technology Stack

🐍 Python Flask
🐳 Docker
⚙ Jenkins
🐙 GitHub
📦 Docker Hub
☁ AWS EC2

--------------------------------------------------------

Pipeline

GitHub
   │
   ▼
 Jenkins
   │
   ▼
 Docker Build
   │
   ▼
 Docker Hub
   │
   ▼
 AWS EC2
   │
   ▼
 Live Application

--------------------------------------------------------

👨‍💻 Developed by
Noor Mohammad
DevOps Engineer

+------------------------------------------------------+