<!DOCTYPE html>
<html>
<head>
    <title>CI/CD Project</title>

    <style>
        body{
            background:#111827;
            color:white;
            text-align:center;
            margin-top:100px;
            font-family:Arial;
        }

        h1{
            color:#38bdf8;
        }

        p{
            color:#facc15;
            font-size:22px;
        }
    </style>

</head>

<body>

<h1>Hello Noor 👋</h1>

<p>This application is deployed using CI/CD Pipeline.</p>

<p>GitHub → CircleCI → Docker Hub → Jenkins → AWS EC2</p>

</body>
</html>